<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Connectionstring" connectionString="Data Source=C:\Users\bbesinaiz\Documents\Visual Studio 2017\C#\Spartan Corner (1.1)v14\Spartan Corner (1.1)\AppDatabase.accdb;Persist Security Info=False; Provider=Microsoft.ACE.OLEDB.12.0;"
      providerName="System.Data.OleDb.OleDbConnection" />
    <add name="Spartan_Corner__1._1_.Properties.Settings.AppDatabaseConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\AppDatabase.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>